<!--<div id="listaGerenciar">-->

    <div class="divParcial" id="formularioAjuda">
        <div class="formulario" >

        <h2>Formulário de Contato</h2>
<!--        <form action="" method="post">-->
            <label for="nome">Nome:
            <input type="text" id="nome" name="nome" required></label>

            <label for="email">Email:
            <input type="email" id="email" name="email" required></label>

            <label for="assunto">Assunto:
            <select id="assunto" name="assunto">
                <option value="duvida">Dúvida</option>
                <option value="sugestao">Sugestão</option>
                <option value="problema">Problema</option>
                <option value="outro">Outro</option>
            </select></label><br>

            <label for="mensagem">Mensagem:</label><br>
            <textarea id="mensagem" name="mensagem" rows="4" cols="50" required></textarea><br>

            <button id="envirEmail" type="submit" class="btn">Enviar</button>
<!--        </form>-->
        </div>
    </div>
<!--</div>-->